# Dependencies
node_modules/
package-lock.json

# Build output
dist/

# # Environment
# .env
# .env.*
# !.env.example

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Vite
# *.local

# TypeScript
*.tsbuildinfo
